* {
    padding: 0;
    margin: 0%;
}

body {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.container {

    padding: 50px;
}

.section_one {
    padding: 50px;
    background-color: black;
    color: white;
}

.section-one__contact {

    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    display: inline-block;
}

.section_name {
    font-size: 60px;

}

.section_role {
    font: 30px;
    margin-top: 10px;
}

.section_two,
.section_three.section_four,
.section_five {
    margin-top: 20px;

}

.section-two__desc,
.section-three__desc.section-four__desc,
.section-five__desc {
    padding-top: 30px;
    margin-top: 20px;

}

.section-five {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

.section-five__title a {
    color: skyblue;

}

.section_three li,
.section_four li {
    list-style: none;
}

.section_three {
    background-color: blue;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    height: 180px;
    display: inline-block;
    vertical-align: top;
}

.section_four {
    background-color: orangered;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    height: 180px;
    display: inline-block;
    vertical-align: top;
}

.contact-form {
    margin-top: 50px;
}

.contact-form,
.contact-form__input,
.contact-form__textarea,
.contact-form__submit {
    margin-top: 20px;
}

.contact-form__input {
    padding: 10px;
    border: none;
    border-bottom: solid black 2px;

}

.contact-form__textarea {
    padding: 10px;
    border: none;
    border: solid black 2px;

}
.contact-form__submit {
   padding: 10px 10px 10px 10px;
   background-color: rgb(168, 26, 114);
   color: orange;
   border: none;

}